:root {
    --primary: #4ade80;
    --primary-alt: □#22c55e;
    --grey: #64748b;
    --dark: #4a5669;
    --dark-alt: □#194684;
    --light: #f1f5f9;
    --sidebar-width: 260px;
  }
   
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira sans", sans-serif;
  }
   
  body {
    background: var(--light);
  }
   
  button {
    cursor: pointer;
    appearance: none;
    border: none;
    outline: none;
    background: none;
  }